.movie-list-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}

/* .input {
  display: grid;

  gap: 2px;
  justify-content: center;

  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
} */
