<!-- <mat-card>
  <div class="movie-component">
    <iframe
      width="930"
      height="523"
      [src]="movie.trailer"
      title="VIKRAM - Official Trailer | Kamal Haasan | VijaySethupathi, FahadhFaasil | LokeshKanagaraj | Anirudh"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <div class="details-component">
      <span class="mv-title-and-rating"
        ><p>
          <strong>{{ movie.name }}</strong>
        </p>
        <button
          (click)="toggleSummary()"
          mat-icon-button
          color="primary"
          aria-label="Toggle Summary"
        >
          <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>

          <ng-template #moreIcon>
            <mat-icon>expand_more</mat-icon>
          </ng-template>
        </button>

        <p>
          <strong>⭐{{ movie.rating }}</strong>
        </p></span
      >
      <div class="movie-extra-detail">
        <em>{{ movie.releaseDate | date : "MMM YYY" }} </em>
        <em>{{ movie.censorRating }} </em>
        <em>{{ movie.genres }}</em>
        <em>{{ movie.languages }}</em>
        <em>{{ movie.cast }}</em>

        <p *ngIf="show" class="movie-summary">{{ movie.summary }}</p>
      </div>
      <br />
    </div>
  </div>
</mat-card> -->

<!-- <div class="container">
  <mat-card class="movie-card">
    <div class="movie-component">
      <iframe
        width="930"
        height="523"
        [src]="movie.trailer"
        title="VIKRAM - Official Trailer | Kamal Haasan | VijaySethupathi, FahadhFaasil | LokeshKanagaraj | Anirudh"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="details-component">
        <span class="mv-title-and-rating">
          <p>
            <strong>{{ movie.name }}</strong>
          </p>
          <button
            (click)="toggleSummary()"
            mat-icon-button
            color="primary"
            aria-label="Toggle Summary"
            class="toggle-summary-button"
          >
            <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>
            <ng-template #moreIcon>
              <mat-icon>expand_more</mat-icon>
            </ng-template>
          </button>
          <p>
            <strong>⭐{{ movie.rating }}</strong>
          </p>
        </span>
        <div class="movie-extra-detail">
          <em>{{ movie.releaseDate | date : "MMM YYY" }}</em>
          <em>{{ movie.censorRating }}</em>
          <em>{{ movie.genres }}</em>
          <em>{{ movie.languages }}</em>
          <em>{{ movie.cast }}</em>
          <p *ngIf="show" class="movie-summary">{{ movie.summary }}</p>
        </div>
      </div>
    </div>
  </mat-card>
</div> -->

<!-- <div class="movie-card">
  <mat-card class="movie-component">
    <iframe
      width="100%"
      height="100%"
      [src]="movie.trailer"
      title="VIKRAM - Official Trailer | Kamal Haasan | VijaySethupathi, FahadhFaasil | LokeshKanagaraj | Anirudh"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <div class="details-component">
      <span class="mv-title-and-rating">
        <p>
          <strong>{{ movie.name }}</strong>
        </p>

        <p>
          <strong>⭐{{ movie.rating }}</strong>
        </p>
      </span>
      <button
        (click)="toggleSummary()"
        mat-icon-button
        color="primary"
        aria-label="Toggle Summary"
        class="toggle-summary-button"
      >
        <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>
        <ng-template #moreIcon>
          <mat-icon>expand_more</mat-icon>
        </ng-template>
      </button>

      <div class="movie-extra-detail">
        <em>{{ movie.releaseDate | date : "MMM YYY" }}</em>
        <em>{{ movie.censorRating }}</em>
        <em>{{ movie.genres }}</em>
        <em>{{ movie.languages }}</em>
        <em>{{ movie.cast }}</em>
        <p *ngIf="show" class="movie-summary">{{ movie.summary }}</p>
      </div>
    </div>
  </mat-card>
</div> -->

<!-- <h1>movie id is {{ id }}</h1> -->
<div class="movietrailercard">
  <iframe
    width="100%"
    height="500"
    [src]="movie.trailer"
    title="Jawan | Official Hindi Trailer | Shah Rukh Khan | Atlee | Nayanthara | Vijay S | Deepika P | Anirudh"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <!-- <img src="{{ movie.trailer }}" alt="Movie-poster" class="poster" /> -->
  <div class="moviecontent">
    <div class="mname">
      <span class="name">{{ movie.name }}</span>
      <button
        (click)="toggleSummary()"
        mat-icon-button
        aria-label="Expand Less"
      >
        <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>
        <ng-template #moreIcon>
          <mat-icon>expand_more</mat-icon>
        </ng-template>
      </button>

      <div class="movie-genre-container">
        <mat-icon>sell</mat-icon>
        <p>{{ getLabelGenres(movie)?.join(" · ") }}</p>
      </div>
      <span class="name">⭐{{ movie.rating }}</span>
    </div>

    <div class="movie-extra-detail">
      <em>{{ movie?.releaseDate | date : "MMM YYYY" }}</em>
      <mat-chip>{{ movie.censorRating }}</mat-chip>
      <div class="movie-language-container">
        <mat-icon>translate</mat-icon>
        <p>
          {{ getLabelLanguages(movie)?.join(", ") }}
        </p>
      </div>
    </div>

    <p *ngIf="show" class="content">{{ movie.summary }}</p>
    <div class="movie-cast-container">
      <mat-icon>theater_comedy</mat-icon>
      <p>Starring {{ movie.cast?.join(", ") }}</p>
    </div>
    <app-counter></app-counter>
  </div>
</div>
