<!-- <h1>movie id is__ {{ id }}</h1> -->

<mat-card>
  <div class="movie-component">
    <!-- <img src="{{ movie.src }}" class="image" /> -->
    <iframe
      width="930"
      height="523"
      [src]="movie.trailer"
      title="VIKRAM - Official Trailer | Kamal Haasan | VijaySethupathi, FahadhFaasil | LokeshKanagaraj | Anirudh"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <div class="details-component">
      <span class="mv-title-and-rating"
        ><p>
          <strong>{{ movie.name }}</strong>
        </p>
        <button
          (click)="toggleSummary()"
          mat-icon-button
          color="primary"
          aria-label="Toggle Summary"
        >
          <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>

          <ng-template #moreIcon>
            <mat-icon>expand_more</mat-icon>
          </ng-template>
        </button>

        <p>
          <strong>⭐{{ movie.rating }}</strong>
        </p></span
      >

      <p *ngIf="show" class="movie-summary">{{ movie.summary }}</p>
      <br />
      <app-counter></app-counter><br />
    </div>
  </div>
</mat-card>
