<!-- <app-task1
  src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?q=10&h=200"
  name="sudeesh"
></app-task1>
<app-task1
  src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?q=10&h=200"
  name="charan"
></app-task1>
<app-task1
  src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?q=10&h=200"
  name="Vamsi"
></app-task1> -->

<!-- <app-task1 *ngFor="let nm of names" [src]="nm.src" [name]="nm.name">
</app-task1> -->

<!-- <section class="component">
  <app-task2
    src="https://upload.wikimedia.org/wikipedia/en/3/33/Love_Today_2022_poster.jpg"
    name="Love Today"
    rating="⭐9.1"
    plot="Love Today is a 2022 Indian Tamil-language romantic comedy-drama film written and 
            directed by Pradeep Ranganathan in his second directorial venture after Comali, and 
            produced by Kalapathi S. Aghoram under the banner of AGS Entertainment.[3] Archana Kalpathi
             is the creative producer for the film. The film stars Pradeep Ranganathan himself 
            (in his acting debut) and Ivana (in her first lead role)."
  ></app-task2>
  <app-task2
    src="https://mellowplex.s3.amazonaws.com/uploads/item/asset/28986/b.jpg"
    name="Beast"
    rating="⭐9.1"
    plot="Love Today is a 2022 Indian Tamil-language romantic comedy-drama film written and 
            directed by Pradeep Ranganathan in his second directorial venture after Comali, and 
            produced by Kalapathi S. Aghoram under the banner of AGS Entertainment.[3] Archana Kalpathi
             is the creative producer for the film. The film stars Pradeep Ranganathan himself 
            (in his acting debut) and Ivana (in her first lead role)."
  ></app-task2>
  <app-task2
    src="https://upload.wikimedia.org/wikipedia/en/c/c3/Ponniyin_Selvan_I.jpg"
    name="PS1"
    rating="⭐9.1"
    plot="Love Today is a 2022 Indian Tamil-language romantic comedy-drama film written and 
            directed by Pradeep Ranganathan in his second directorial venture after Comali, and 
            produced by Kalapathi S. Aghoram under the banner of AGS Entertainment.[3] Archana Kalpathi
             is the creative producer for the film. The film stars Pradeep Ranganathan himself 
            (in his acting debut) and Ivana (in her first lead role)."
  ></app-task2>
  <app-task2
    src="https://m.media-amazon.com/images/M/MV5BYjNlOWQ2YzEtYTc5Yy00MjcyLTg2YTgtMGVmM2YzZTk4N2JjXkEyXkFqcGdeQXVyMTUzOTcyODA5._V1_.jpg"
    name="Sardar"
    rating="⭐9.1"
    plot="Love Today is a 2022 Indian Tamil-language romantic comedy-drama film written and 
            directed by Pradeep Ranganathan in his second directorial venture after Comali, and 
            produced by Kalapathi S. Aghoram under the banner of AGS Entertainment.[3] Archana Kalpathi
             is the creative producer for the film. The film stars Pradeep Ranganathan himself 
            (in his acting debut) and Ivana (in her first lead role)."
  ></app-task2>
</section> -->
<!-- 
<div class="input"> -->
<!-- <input
    matInput
    type="text"
    [(ngModel)]="newMovie.src"
    placeholder="movieimage"
    required
  /> -->

<!-- <mat-form-field>
    <mat-label>MoviePoster</mat-label>
    <input matInput [(ngModel)]="newMovie.src" placeholder="movieimage" />
  </mat-form-field> -->

<!-- <input
    matInput
    type="text"
    [(ngModel)]="newMovie.name"
    placeholder="moviename"
    required
  /> -->

<!-- <mat-form-field>
    <mat-label>MovieName</mat-label>
    <input matInput [(ngModel)]="newMovie.name" placeholder="MOvieName" />
  </mat-form-field> -->

<!-- <input
    matInput
    type="text"
    [(ngModel)]="newMovie.rating"
    placeholder="movierating"
    required
  /> -->

<!-- <mat-form-field>
    <mat-label>MovieRating</mat-label>
    <input matInput [(ngModel)]="newMovie.rating" placeholder="movierating" />
  </mat-form-field> -->

<!-- <input
    matInput
    type="text"
    [(ngModel)]="newMovie.plot"
    placeholder="movieplot"
    required
  /> -->

<!-- <mat-form-field>
    <mat-label>MoviePlot</mat-label>
    <input matInput [(ngModel)]="newMovie.plot" placeholder="movieplot" />
  </mat-form-field> -->

<!-- <mat-form-field>
    <mat-label>Write a summary about movie</mat-label>
    <textarea matInput placeholder="Write a summary about movie"></textarea>
  </mat-form-field> -->

<!-- <button (click)="addMovie()">Add Movie</button><br /> -->
<!-- <button mat-raised-button (click)="addMovie()" color="primary">
    Add Movie
  </button>
</div> -->

<!-- <div class="component">
  <app-task2
    *ngFor="let mv of movies; let i = index"
    [src]="mv.src"
    [name]="mv.name"
    [rating]="mv.rating"
    [summary]="mv.summary"
    [idx]="i"
    (MrmIdx)="delete($event)"
  >
  </app-task2>
</div> -->

<!-- <app-counter> </app-counter> -->
<!-- 
<app-forms></app-forms> -->

<header>
  <h1>Welcome to movie App</h1>
  <nav>
    <ul>
      <li><a routerLink="/">Welcome</a></li>
      <li><a routerLink="/forms">Forms</a></li>
      <li><a routerLink="/add-movie-form">AddMovie</a></li>
      <li><a routerLink="/movies">Movies</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer></footer>
