<!-- <app-task1
  src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?q=10&h=200"
  name="sudeesh"
></app-task1>
<app-task1
  src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?q=10&h=200"
  name="charan"
></app-task1>
<app-task1
  src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?q=10&h=200"
  name="Vamsi"
></app-task1> -->

<app-task1 *ngFor="let nm of names" [src]="nm.src" [name]="nm.name">
</app-task1>

<!-- <section class="component">
  <app-task2
    src="https://upload.wikimedia.org/wikipedia/en/3/33/Love_Today_2022_poster.jpg"
    name="Love Today"
    rating="⭐9.1"
    plot="Love Today is a 2022 Indian Tamil-language romantic comedy-drama film written and 
            directed by Pradeep Ranganathan in his second directorial venture after Comali, and 
            produced by Kalapathi S. Aghoram under the banner of AGS Entertainment.[3] Archana Kalpathi
             is the creative producer for the film. The film stars Pradeep Ranganathan himself 
            (in his acting debut) and Ivana (in her first lead role)."
  ></app-task2>
  <app-task2
    src="https://mellowplex.s3.amazonaws.com/uploads/item/asset/28986/b.jpg"
    name="Beast"
    rating="⭐9.1"
    plot="Love Today is a 2022 Indian Tamil-language romantic comedy-drama film written and 
            directed by Pradeep Ranganathan in his second directorial venture after Comali, and 
            produced by Kalapathi S. Aghoram under the banner of AGS Entertainment.[3] Archana Kalpathi
             is the creative producer for the film. The film stars Pradeep Ranganathan himself 
            (in his acting debut) and Ivana (in her first lead role)."
  ></app-task2>
  <app-task2
    src="https://upload.wikimedia.org/wikipedia/en/c/c3/Ponniyin_Selvan_I.jpg"
    name="PS1"
    rating="⭐9.1"
    plot="Love Today is a 2022 Indian Tamil-language romantic comedy-drama film written and 
            directed by Pradeep Ranganathan in his second directorial venture after Comali, and 
            produced by Kalapathi S. Aghoram under the banner of AGS Entertainment.[3] Archana Kalpathi
             is the creative producer for the film. The film stars Pradeep Ranganathan himself 
            (in his acting debut) and Ivana (in her first lead role)."
  ></app-task2>
  <app-task2
    src="https://m.media-amazon.com/images/M/MV5BYjNlOWQ2YzEtYTc5Yy00MjcyLTg2YTgtMGVmM2YzZTk4N2JjXkEyXkFqcGdeQXVyMTUzOTcyODA5._V1_.jpg"
    name="Sardar"
    rating="⭐9.1"
    plot="Love Today is a 2022 Indian Tamil-language romantic comedy-drama film written and 
            directed by Pradeep Ranganathan in his second directorial venture after Comali, and 
            produced by Kalapathi S. Aghoram under the banner of AGS Entertainment.[3] Archana Kalpathi
             is the creative producer for the film. The film stars Pradeep Ranganathan himself 
            (in his acting debut) and Ivana (in her first lead role)."
  ></app-task2>
</section> -->

<!-- <div class="component">
  <app-task2
    *ngFor="let mv of movies"
    [src]="mv.src"
    [name]="mv.name"
    [rating]="mv.rating"
    [plot]="mv.plot"
  >
  </app-task2>
</div> -->

<!-- <app-counter> </app-counter> -->
