.body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

/* .image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
} */

.image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.1) perspective(500px);
  cursor: pointer;
}

.image:hover + .movie-badge {
  background: green;
}
.details-component {
  display: grid;
  justify-content: space-between;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mv-title-and-rating {
  display: flex;
  justify-content: space-between;
}

.movie-component {
  width: 400px;
  border-radius: 16px;
  justify-content: space-evenly;
  /* overflow: hidden; */
  position: relative;
  gap: 100px;
}

.movie-badge {
  background: red;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 10px;
  right: 0px;
  /* transform: translateX(50%); */
  font-weight: 500;
}

.plot {
  color: rgb(153 142 142);
}

.btn {
  display: flex;
}
