<mat-card>
  <div class="movie-component">
    <img src="{{ movie.poster }}" class="image" />

    <div class="details-component">
      <span class="mv-title-and-rating"
        ><p>
          <strong>{{ movie.name }}</strong>
        </p>
        <button
          (click)="toggleSummary()"
          mat-icon-button
          color="primary"
          aria-label="Toggle Summary"
        >
          <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>

          <ng-template #moreIcon>
            <mat-icon>expand_more</mat-icon>
          </ng-template>
        </button>

        <button (click)="getdetails()" mat-icon-button aria-label="Info">
          <mat-icon>info</mat-icon>
        </button>

        <!-- <button mat-icon-button aria-label="Exapand More">
          <mat-icon>expand_more</mat-icon>
        </button> -->

        <p>
          <strong>⭐{{ movie.rating }}</strong>
        </p></span
      >

      <p *ngIf="show" class="movie-summary">{{ movie.summary }}</p>
      <br />
      <app-counter></app-counter><br />
      <!-- <button (click)="delete()">Delete</button> -->

      <div class="btn">
        <button
          (click)="deleteMovie()"
          mat-icon-button
          color="warn"
          aria-label="Edit Movie"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          (click)="editMovie()"
          mat-icon-button
          color="accent"
          aria-label="Edit Movie"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div></mat-card
>
