<!-- (submit) will refresh the browser -->

<form [formGroup]="movieForm" (ngSubmit)="addMovie()" class="add-movie-form">
  <marquee><h1>Add Movie Form</h1></marquee>
  <mat-slide-toggle>Featured</mat-slide-toggle>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Ex. Vikram" />

    <mat-error *ngIf="name?.touched && name?.hasError('required')">
      Why not fill this field 😉?
    </mat-error>
    <mat-error *ngIf="name?.touched && name?.hasError('minlength')">
      Please provide full movie name 😁
    </mat-error>
  </mat-form-field>
  <mat-slide-toggle formControlName="featured">Featured</mat-slide-toggle>

  <mat-form-field>
    <mat-label>Rating</mat-label>
    <input matInput formControlName="rating" placeholder="Ex. 7" />
    <mat-error *ngIf="rating?.touched && rating?.hasError('required')">
      Why not fill this field 😉?
    </mat-error>
    <mat-error *ngIf="rating?.touched && rating?.hasError('min')">
      Please provide minimum rating
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput formControlName="releaseDate" [matDatepicker]="picker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Poster</mat-label>
    <input matInput formControlName="poster" placeholder="Ex. http://img.com" />

    <mat-error *ngIf="poster?.touched && poster?.hasError('required')">
      Why not fill this field 😉?
    </mat-error>
    <mat-error *ngIf="poster?.touched && poster?.hasError('minlength')">
      Please provide full poster
    </mat-error>
    <mat-error *ngIf="poster?.touched && poster?.hasError('pattern')">
      Please provide a url with http pattern
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Summary</mat-label>
    <input matInput formControlName="summary" placeholder="Ex. Cool movie" />

    <mat-error *ngIf="summary?.touched && summary?.hasError('required')">
      Why not fill this field 😉?
    </mat-error>
    <mat-error *ngIf="summary?.touched && summary?.hasError('minlength')">
      Please provide min 20 characters.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Trailer</mat-label>
    <input matInput formControlName="trailer" placeholder="Ex. Cool movie" />
    <mat-error *ngIf="trailer?.touched && trailer?.hasError('required')">
      Why not fill this field 😉?
    </mat-error>
    <mat-error *ngIf="trailer?.touched && trailer?.hasError('minlength')">
      Please provide a trailer url
    </mat-error>
    <mat-error *ngIf="trailer?.touched && trailer?.hasError('pattern')">
      Please provide a url with http pattern
    </mat-error>
  </mat-form-field>

  <button
    [disabled]="movieForm.invalid"
    type="submit"
    mat-raised-button
    color="primary"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="add"
    ></mat-icon>
    {{ "Add Movie" | uppercase }}
  </button>
</form>

<!-- <pre>
  {{ movieForm.value | json }}
</pre> -->
